<div id="pointer">
  <div id="pointer-outer" class="outer">
     <div id="pointer-inner" class="inner"></div>
  </div>
</div>
<div id="app" style="z-index:-1;" class="show-hands">
  <!-- <button id="showHands">Show Hands</button>
  <button id="hideHands">hide Hands</button> -->



    
  <div id="scene">
    <!-- <div id="cube" class="cube">
      <div class="face tp"></div>
      <div class="face lt"></div>
      <div class="face rt"></div>
      <div class="face ft"></div>
      <div class="face bk"></div>
    </div> -->



    <div id="finger" class="cube finger">
      <div class="face tp"></div>
      <div class="face lt"></div>
      <div class="face rt"></div>
      <div class="face ft"></div>
      <div class="face bk"></div>
    </div>
    <div id="sphere" class="cube sphere">
      <div class="face tp"></div>
      <div class="face lt"></div>
      <div class="face rt"></div>
      <div class="face ft"></div>
      <div class="face bk"></div>
    </div>
  </div>
</div>


<div class="container">
    <ng-container *ngIf="step==0">
      <section-title #title
         (itemChange)="titleChange($event)"
         (titleGestureChange) = "titleGesture($event)"
         ></section-title>
  </ng-container>
  
  <ng-container *ngIf="step==1">
    <section-floor #floor (back)="backToTitle()"></section-floor>
  </ng-container>
  
  <ng-container *ngIf="step==2">
    <section-scene #scene  (back)="backToTitle()"></section-scene>
  </ng-container>
  
  <ng-container *ngIf="step==3">
    <section-info #info  (back)="backToTitle()"></section-info>
  </ng-container>
  </div>